/* Login screen styles */
.side-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding-top: 3%;
    padding-left: 2%;
}

.side-left-logo {
    width: 15%;
}

.side-left-illustration {
    width: 115%;
    margin-top: 10%;
}

.side-right {
    width: 70%;
    background-color: #FFFFFF;
    padding-top: 13%;
    padding-left: 7%;
}

.login-form {

}